body{
   background: #dfdfdf;     
}

p {
    color: #222222;

}

.foto-principal {
    width: 200px;
    border: 2px solid #ffffff; /* shorthand */
    border-radius: 100% 0 100% 0;
    /*
    border-width: 5px;
    border-color: black;
    border-style: solid;
    */
}