body{
   background-image: url(background.jpg);
   background-repeat: no-repeat;
  /* background-position: 100% 10%; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

h3 {
    color:green;
}

.foto{
    width: 500px
}

#titulo-principal {
    color: yellow;
}